{% extends 'base.html' %}
{% load static %}

{% block title %}
<h1 class="mt2 mb0 baskerville i fw1 f1" style="font-family: 'Princess Sofia', cursive;">{{ site.title }}</h1>
<h2 class="mt2 mb0 f6 fw4 ttu tracked" style="font-family: 'Monstserrat', sans-serif;">Contacts</h2>
{% endblock title %}

{% block content %}
<div class="flex flex-wrap justify-content justify-center">
    <nav>
        <p class="f4 bb">Email: <a href="mailto:unir.crochet@gmail.com" class="link blue f4 dim b--bg-light-blue">unir.crochet@gmail.com</a></p>
        {% comment %} <p class="f4 bb">Email: <a href="mailto:unir.crochet@gmail.com" class="link blue f4 dim b--bg-light-blue">unir.crochet@gmail.com</a></p>
        <p class="f4 bb">Email: <a href="mailto:unir.crochet@gmail.com" class="link blue f4 dim b--bg-light-blue">unir.crochet@gmail.com</a></p> {% endcomment %}
    </nav>

</div>
{% endblock content %}