{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="flex flex-wrap justify-content justify-center-ns">
  <div class="w-15 outline"></div>
  <div class="pa3 mr2 w-25 outline">
    <h3 class="measure-narrow-l bb center">Random Product: {{ plush.name }}</h3>
    <p class="center measure-narrow-ns">
      {{ plush.info }}
    </p>
  </div>

  <div class="w-10 outline">
  </div>

  <div class="right pa3 ml2 w-25 outline">
    <img src="{{ plush.picture.url }}" class="mw4 br2 b--near-black bl bw4"
      alt="{{ plush.name }}.">
  </div>
  <div class="w-15 outline"></div>


</div>

{% endblock content %}