{% extends 'base.html' %}
{% block content %}
<div class="flex items-center">

      <div class="pa3 mr2 w-50 outline">
        <p class="center measure-narrow">
          Typography has one plain duty before it and that is to convey information
          in writing. No argument or consideration can absolve typography from this
          duty. A printed work which cannot be read becomes a product without
          purpose.
        </p>
      </div>

    <div class="pa3 ml2 w-50 outline">
        <img src="http://placekitten.com/g/300/300" class="center" alt="Photo of a kitten looking menacing.">
    </div>

</div>

{% endblock content %}